# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*.txt
build/*.cmake
build/CMakeFiles
build/Makefile
build/CMakeFiles/*
build/emscripten/artoolkitplus/CMakeFiles
build/emscripten/artoolkitplus
build/emscripten/artoolkitplus/*